<section class="banner-16 bg_img oh bottom_left" data-background="./assets/images/banner/banner-bg-7.jpg" style="background-image: url(&quot;./assets/images/banner/banner16/banner-bg-16.png&quot;);">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <div class="banner-content-3">
          <h2 class="title" style="font-size:62px">LES PROCHAINES ENCHÈRES</h2>
          <div class="banner-button-group mt-2 justify-content-center">
            <a routerLink="/payment" class="button-4">S'inscrire</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-30 justify-content-center mt-5">


      <div class="col-lg-3 col-sm-6"  *ngFor="let item of next_session">
        <div class="to-access-item active">
          <div class="to-access-thumb">
            <span class="anime"></span>
            <div class="thumb">
              <img [src]="item.winner_product_id.photo" alt="product">
            </div>
          </div>
          <h5 class="title">{{item.winner_product_id.title}}</h5>
          <br>
          <h6 class="title">{{item.started_at|date:'d/M/y, hh:mm'}}</h6>
          <br>
          <small class="title">Frais de participation:{{item.participation_fees}}</small>
        </div>
      </div>


    </div>

  <br>
  <br>
    <h2 class="title mb-5 mt-5" style="font-size:62px">LES DERNIERS ENCHÈRES</h2>
    <div class="col-lg-6 col-sm-8"  *ngFor="let item of past_session">
      <div class="to-access-item active">
            <img [src]="item.winner_product_id.photo" height="200" alt="product">
        </div>
        <h5 class="title text-center">{{item.winner_product_id.title}}</h5>
        <h6 class="title text-center mt-1">{{item.finished_at|date:'d/M/y'}}</h6>
        <h5 class="title mt-1">Gagnant:{{item.winner_id.first_name+' '+item.winner_id.last_name}}</h5>
      <div class="d-flex flex-column mt-1">
        <small class="title">Dernier bidders:</small>
        <small class="title">

          <div class="d-block" *ngFor="let b of item.lastBidders">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <small>{{b.first_name+' '+b.last_name}}</small>
           </div>

       </small>
      </div>
    </div>

  </div>
</section>

